/* Heading Colors */

h3, h4 {
  color: tomato;
  text-align: center;
}

/* span tag colors */

#grn {
  color: green;
}

#lgrn {
  color: lightgreen;
}

#ylw {
  color: yellow;
}

#lred {
  color: rgb(255, 148, 148);
}