/* Heading Colors */

h3,
h4 {
  color: tomato;
  text-align: center;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* span tag colors */

.grn {
  color: green;
}

.lgrn {
  color: lightgreen;
}

.ylw {
  color: yellow;
}

.lred {
  color: rgb(255, 148, 148);
}

.orng {
  color: orange;
}

.cyn {
  color: cyan;
}

.prpl {
  color: purple;
}

.choc {
  color: chocolate;
}

.gld {
  color: gold;
}

.lblu {
  color: lightblue;
}

.rd {
  color: red;
}

/* paragraph styles */

.rwdsp {
  color: yellow;
  font-size: 20px;
  align-items: center;
}

.pslst {
  font-size: 16px;
}

.hdr {
  color: orange;
  font-weight: 200;
}

.trhd {
  color: cyan;
  font-size: large;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
